
<p>
  <strong>Loccode:</strong>
  <%= @location.loccode %>
</p>

<p>
  <strong>Project:</strong>
  <%= @location.project %>
</p>

<p>
  <strong>Siteeng:</strong>
  <%= @location.siteeng %>
</p>

<p>
  <strong>Project:</strong>
  <%= @location.Project %>
</p>

<%= link_to 'تعديل', edit_location_path(@location) %> |
<%= link_to 'رجوع', locations_path %>
